@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body{
	padding-top:60px;
}

mection{
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center{
  text-aling: center};

.center h1{
	margin-bottle:10px;

}